@import "../index.scss";

.main-content-row {
    width: calc(100% - $size-menu-closed);

    &.collapsed {
        display: flex;
        flex-direction: row;
        width: calc(100% - $size-menu-open);
    }
}