
$size-menu-open: 200px;
$size-menu-closed: 52px;

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  padding: 10px 25px;

  &.collapsed {
    @keyframes openMenuMainContainer {
      from {
        margin-left: $size-menu-closed;
      }
      to { 
        margin-left: $size-menu-open;
      }
   }
  
    animation-name: openMenuMainContainer;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  &.not-collapsed {
    @keyframes closeMenuMainContainer {
      from {
        margin-left: $size-menu-open;
      }
      to { 
        margin-left: $size-menu-closed;
      }
   }
 
   animation-name: closeMenuMainContainer;
   animation-fill-mode: forwards;
   animation-duration: 0.5s;

     
  }
}
